apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ddns-updater
  namespace: ddns-updater
spec:
  interval: 15m
  chart:
    spec:
      chart: ddns-updater
      version: 12.13.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  values:
    image:
      repository: suntorytimed/ddns-updater
      tag: hetzner-cloud-dns@sha256:d967479028332ddce6dac73dd95a78466aa629b8f43cc3ff7f3293cc5a3135f8
    TZ: Europe/Berlin
    resources: { }
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                CONFIG: |
                  {
                    "settings": [
                      {
                        "provider": "hetznernetworking",
                        "zone_identifier": "noitl.space",
                        "domain": "craft.noitl.space",
                        "ttl": 120,
                        "token": "${DDNS_UPDATER_HETZNER_TOKEN}",
                        "ip_version": "ipv4",
                        "ipv6_suffix": ""
                      },
                      {
                        "provider": "hetznernetworking",
                        "zone_identifier": "noitl.space",
                        "domain": "craft-map.noitl.space",
                        "ttl": 120,
                        "token": "${DDNS_UPDATER_HETZNER_TOKEN}",
                        "ip_version": "ipv4",
                        "ipv6_suffix": ""
                      },
                      {
                        "provider": "hetznernetworking",
                        "zone_identifier": "noitl.space",
                        "domain": "audiobooks.noitl.space",
                        "ttl": 120,
                        "token": "${DDNS_UPDATER_HETZNER_TOKEN}",
                        "ip_version": "ipv4",
                        "ipv6_suffix": ""
                      },
                      {
                        "provider": "hetznernetworking",
                        "zone_identifier": "noitl.space",
                        "domain": "cloud.noitl.space",
                        "ttl": 120,
                        "token": "${DDNS_UPDATER_HETZNER_TOKEN}",
                        "ip_version": "ipv4",
                        "ipv6_suffix": ""
                      },
                      {
                        "provider": "hetznernetworking",
                        "zone_identifier": "noitl.space",
                        "domain": "kvb-kt.noitl.space",
                        "ttl": 120,
                        "token": "${DDNS_UPDATER_HETZNER_TOKEN}",
                        "ip_version": "ipv4",
                        "ipv6_suffix": ""
                      }
                    ]
                  }
