---
# $schema: https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
  namespace: kube-prometheus-stack
  labels:
    alertmanager: default
spec:
  route:
    groupBy: [ "alertname", "job" ]
    receiver: pagerduty
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: =
#      - receiver: heartbeat
#        groupInterval: 5m
#        groupWait: 0s
#        repeatInterval: 5m
#        matchers:
#          - name: alertname
#            value: Watchdog
#            matchType: =
      - receiver: pagerduty
        matchers:
          - name: severity
            value: warning
            matchType: =
  inhibitRules:
    - equal: [ "alertname", "namespace" ]
      sourceMatch:
        - name: severity
          value: critical
          matchType: =
      targetMatch:
        - name: severity
          value: warning
          matchType: =
  receivers:
    - name: "null"
#    - name: heartbeat
#      webhookConfigs:
#        - urlSecret:
#            name: &secret alertmanager-secret
#            key: ALERTMANAGER_HEARTBEAT_URL
    - name: pagerduty
      pagerdutyConfigs:
        - routingKey:
            key: integrationKey
            name: pagerduty
          sendResolved: true
          url: https://events.eu.pagerduty.com/v2/enqueue
