apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
  namespace: paperless-ngx
spec:
  interval: 15m
  chart:
    spec:
      chart: paperless-ngx
      version: 11.35.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: paperless-ngx
  values:
    TZ: Europe/Berlin
    credentials:
      storj:
        type: s3
        name: storj
        url: https://gateway.storjshare.io
        accessKey: ${STORJ_ACCESS_KEY}
        secretKey: ${STORJ_SECRET_KEY}
        bucket: ${STORJ_BUCKET}
        encrKey: ${STORJ_VOLSYNC_ENCRYPTION_KEY}
        path: ""
      aws:
        type: s3
        name: aws
        url: "https://s3.eu-central-1.amazonaws.com"
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
        bucket: "talos-cnpg-backups"
        encrKey: ${AWS_ENCRYPTION_KEY}
        path: ""
    cnpg:
      main:
        password: "${PAPERLESS_POSTGRES_PASSWORD}"
        cluster:
          instances: 1
          singleNode: true
        mode: standalone
        backups:
          enabled: true
          credentials: aws
          revision: "3"
          retentionPolicy: "2d"
        recovery:
          method: object_store
          credentials: aws
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: dok.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: ${CERTMANAGER_ISSUER}
          homepage:
            enabled: true
            group: Dateien
            widget:
              custom:
                key: "${PAPERLESS_HOMEPAGE_API_KEY}"
    persistence:
      data:
        volsync:
          - name: app-config
            type: restic
            credentials: storj
            src:
              enabled: true
            dest:
              enabled: false
      media:
        type: nfs
        server: ${NFS_HOST}
        path: /mnt/pool1/Paperless/documents
        mountPath: /media
        autoPermissions:
          enabled: false
        readOnly: false
    resources:
      limits:
        cpu: 4
        memory: 6Gi
    securityContext:
      container:
        UMASK: "0022"
        readOnlyRootFilesystem: false
        runAsGroup: 0
        runAsNonRoot: false
        runAsUser: 0
      pod:
        fsGroupChangePolicy: OnRootMismatch
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PAPERLESS_ADMIN_MAIL: max.bachhuber@bahuma.io
                PAPERLESS_ADMIN_PASSWORD: admin
                PAPERLESS_ADMIN_USER: admin
                PAPERLESS_OCR_LANGUAGE: deu
                PAPERLESS_OCR_LANGUAGES: eng deu
                PAPERLESS_URL: https://dok.${BASE_DOMAIN}
                PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
