apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  interval: 15m
  chart:
    spec:
      chart: vaultwarden
      version: 29.16.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: vaultwarden
  values:
    TZ: Europe/Berlin
    credentials:
      storj:
        type: s3
        name: storj
        url: https://gateway.storjshare.io
        accessKey: ${STORJ_ACCESS_KEY}
        secretKey: ${STORJ_SECRET_KEY}
        bucket: ${STORJ_BUCKET}
        encrKey: ${STORJ_VOLSYNC_ENCRYPTION_KEY}
        path: ""
      aws:
        type: s3
        name: aws
        url: "https://s3.eu-central-1.amazonaws.com"
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
        bucket: "talos-cnpg-backups"
        encrKey: ${AWS_ENCRYPTION_KEY}
        path: ""
    cnpg:
      main:
        cluster:
          instances: 1
          singleNode: true
        mode: standalone
        backups:
          enabled: true
          credentials: aws
          revision: "2"
        recovery:
          method: object_store
          credentials: aws
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: pass.${BASE_DOMAIN}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: ${CERTMANAGER_ISSUER}
          homepage:
            enabled: true
            group: Sonstiges
            widget:
              enabled: false
    persistence:
      data:
        volsync:
          - name: app-config
            type: restic
            credentials: storj
            src:
              enabled: true
            dest:
              enabled: false
    resources: {}
    vaultwarden:
      push:
        enabled: true
        installationId: "${VAULTWARDEN_PUSH_INSTALLATION_ID}"
        installationKey: "${VAULTWARDEN_PUSH_INSTALLATION_KEY}"
      signupDomains:
        - bahuma.io
        - seitz-web.de
      smtp:
        enabled: true
        host: server4.bahuma.io
        port: 465
        security: force_tls
        authMechanism: Plain
        user: vaultwarden@noitl.space
        password: "${VAULTWARDEN_SMTP_PASSWORD}"
        from: vaultwarden@noitl.space
        fromName: Vaultwarden
      verifySignup: true