apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: audiobookshelf
  namespace: audiobookshelf
spec:
  interval: 15m
  chart:
    spec:
      chart: audiobookshelf
      version: 12.16.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  releaseName: audiobookshelf
  values:
    TZ: Europe/Berlin
    credentials:
      storj:
        type: s3
        name: storj
        url: https://gateway.storjshare.io
        accessKey: ${STORJ_ACCESS_KEY}
        secretKey: ${STORJ_SECRET_KEY}
        bucket: ${STORJ_BUCKET}
        encrKey: ${STORJ_VOLSYNC_ENCRYPTION_KEY}
        path: ""
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: audiobooks.noitl.space
        integrations:
          certManager:
            enabled: true
            certificateIssuer: ${CERTMANAGER_ISSUER}
          homepage:
            enabled: true
            group: Medien
            description: "Hörbücher anhören und tracken"
            widget:
              custom:
                key: "${AUDIOBOOKSHELF_HOMEPAGE_API_KEY}"
                fields: '["books", "booksDuration"]'
    persistence:
      audiobooks:
        autoPermissions:
          enabled: false
        enabled: true
        mountPath: /audiobooks
        path: /mnt/pool1/Medien/Audiobooks
        readOnly: true
        server: ${NFS_HOST}
        type: nfs
      config:
        enabled: true
        mountPath: /config
        readOnly: false
        volsync:
          - credentials: storj
            dest:
              enabled: false
            name: app-config
            src:
              enabled: true
            type: restic
      metadata:
        enabled: true
        mountPath: /metadata
        readOnly: false
        storageClass: ""
        volsync:
          - credentials: storj
            dest:
              enabled: false
            name: metadata
            src:
              enabled: true
            type: restic
    resources: { }
    securityContext:
      container:
        UMASK: "0022"
        readOnlyRootFilesystem: false
        runAsGroup: 0
        runAsNonRoot: false
        runAsUser: 0
